<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
  <form>
    <h1 class="titulo">CRUD USERS</h1>
    <h2 class="subtitulo">Mais eficiência no controle de usuários</h2>

    <input [(ngModel)]="nomeUsuario" [ngModelOptions]="{standalone: true}" class="input-form" type="texto" placeholder="Digite seu nome">

    <app-botao textoBotao="Acessar" tamanhoBotao="100" (click)="login()"></app-botao>

    <p class="rodape">©️ 2024 | Desenvolvido por João Sena</p>
  </form>
</div>

